:root {
    --primary-color: rgb(115, 124, 172);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    background-color:rgb(115, 172, 160);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #000;
    margin: 20px auto;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

form input {
    font-size: 24px;
    height: 40px;
    padding: 0 20px;
}

form input:focus {
    outline: 2px solid red;
}

form button {
    outline: none;
    background-color:darkcyan;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px auto;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color:cornflowerblue;
}